@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');
:root{
    --dark-blue:#0B0D17;
    --bright-blue:#D0D6F9;
    --white:#FFFFFF;
}
    /* Text of font family */
/* font-family: 'Barlow Condensed', sans-serif;
font-family: 'Bellefair', serif; */


html{
    font-size:14px;
}
body{
    background-image:url("images/background-home-desktop.jpg");
}
* {
    font-family: 'Bellefair', serif;
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
    /* Tipograhy */


.left-side-text h5{
    font-size: clamp(16px, 2.5vw , 28px);
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 4.72px;
}
.left-side-text h1{
    font-size:clamp(100px, 0.1vw, 150px);
    font-weight: 400;
    text-transform: uppercase;
}
.left-side-text p{
    font-size:clamp(15px, 2.5vw, 18px);
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
}
    /* Nav Bar Code */


header{
    /* border:2px solid magenta; */
    display: flex;
    position: relative;
    padding-block:2rem;
    padding-left:2rem;
    background-color: transparent;
    justify-content: space-between;
}
header svg{
    display: block;
    /* border:2px solid magenta; */
    align-self: center;
}
nav{
    /* border:2px solid magenta; */
    width: 60%;
}
.nav-list{
    height: 100%;
    backdrop-filter: blur(1rem) brightness(1.2);
    /* border:2px solid magenta; */
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap:3rem;
    padding-block:2rem;
}
span{
    margin-right:0.4rem;
}

.nav-list a{
    font-family: 'Barlow Condensed', sans-serif;
    font-size:1.25rem;
    text-transform: uppercase;
    color:var(--white);
    text-decoration: none;
}


    /* Dropdown menu button */


.mobile-nav-button{
    display: none;
}
.hamburger-button{
    background-color: transparent;
    border:none;
    appearance: none;
    cursor:pointer;
    margin-right: 1.5rem;
}

     /* hamburger menu animation */

.hamburger-button.is-active .line{
    transition: y 300ms ease-in,
        opacity 300ms ease-in 200ms,
        rotate 300ms ease-in 300ms;
    transform-origin: center;
}
.hamburger-button .line{
    transition: rotate 300ms ease-in,
        opacity 300ms ease-in 200ms,
        y 300ms ease-in 300ms;
    transform-origin: center;
}
.hamburger-button.is-active :is(.top, .bottom){
    y:50;
}
.hamburger-button.is-active .middle{
    opacity: 0;
}
.hamburger-button.is-active .top{
    rotate:45deg;
}
.hamburger-button.is-active .bottom{
    rotate:-45deg;
}


    /* First page text */


.wrapper{
    /* border:2px solid magenta; */
    width: 80%;
    /* height: 70vh; */
    margin-inline:auto;
    margin-top:7rem;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}
.left-side-text{
    width: 50%;
    max-width: 450px;
    /* border:2px solid magenta; */
    color:var(--white);
}
.right-side-button{
    width: 30%;
    /* border:2px solid magenta; */
}
.call-to-action-button{
    background-color: #979797;
    width: 200px;
    height:200px;
    border:none;
    padding:5rem;
    cursor: pointer;
    border-radius:50%;
    padding:auto;
}
.call-to-action-button a{
    text-decoration: none;
    color:var(--dark-blue);
    font-family: 'Bellefair', serif;
    font-size:32px;
    
}

    /* Round circle button */

.button-wrapper{
    /* border:2px solid magenta; */
    width: 50%;
}    
.round-button {
    /* border:2px solid magenta; */
    border:NONE;
    width: 50%;
    padding-block: 20%;
    border-radius: 50%;
    margin-inline:25%;
    cursor:pointer;
    transition:300ms;
}
.round-button-link{
    font-family: 'Bellefair', serif;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color:#0B0D17;
    font-size:32px;
}
.round-button:hover{
    box-shadow: 0 0 0 60px rgb(255, 255, 255, 0.2);
    transition:400ms;
}
    /* Phone version */

@media (max-width:805px){
    body{
        background-image: url("images/background-home-mobile.jpg");
        background-repeat: repeat;
        background-size: cover;
    }
    .wrapper{
        height: 70vh;
    }
    .nav-list{
        /* border: 2px solid magenta; */
        padding:9rem 2rem;
        justify-content:flex-start;
        height:100vh;
        top:0;
        right:-100%;
        width: 50%;
        position:fixed;
        flex-direction: column;
        transition: 300ms ease-in;
    }
    .nav-list.is-active{
        right:0;
    }
    .nav-list a{
        /* border:2px solid magenta; */
    }
    .mobile-nav-button{
        display: flex;
        z-index: 3;
    }
    .wrapper{
        flex-direction: column;
        margin-top:0;
        gap:5rem;
    }
    .left-side-text{
        width: 100%;
        min-width: 100%;
        margin-inline: auto;
        text-align: center;
    }
    .button-wrapper{
        width: 100%;
    } 
}


    /* link hover state */


.nav-list .current-page{
    padding-bottom: 1.9rem;
    border-bottom: 2px solid var(--white);
}
.nav-list .nav-item:hover a{
    padding-bottom: 1.9rem;
    border-bottom: 2px solid rgba(255, 255, 255, 0.50);
    transition:100ms;
}
.nav-list .nav-item:hover .current-page{
    padding-bottom: 1.9rem;
    border-bottom: 2px solid var(--white);
}


        /* destination page typography */


.destination-wrapper .destination-pick-text{
    text-transform: uppercase;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 28px;
    font-weight: 400;
}
.planet-selector-list a{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 16px;
    text-transform:uppercase;
}
.moon-info h2{
    font-family: 'Bellefair', serif;
    font-size:100px;
    font-weight: 400;
    text-transform: uppercase;
}
.moon-info .moon-facts{
    font-family: 'Barlow', sans-serif;
    font-size:18px;
    font-weight: 400;
    color:#D0D6F9;
}


        /* destination page */



.destination-wrapper{
    border:2px solid magenta;
    /* display: flex; */
    width: 80%;
    margin-inline:auto;
    color:white;
}
.moon-destination{
    border:2px solid magenta;
    display: flex;
}
.moon-photo{
    border:2px solid magenta;
    width: 50%;
}
.moon-info{
    border:2px solid magenta;
    width: 50%;
}
.planet-selector-list{
    display: flex;
    gap:2rem;
    list-style: none;
}
.planet-selector-list a{
    text-decoration: none;
    color:white;
}

@media (max-width:805px) {
    .nav-list .current-page{
        padding-bottom: 0.75rem;
        border-bottom: 1.5px solid var(--white);
    }
    .nav-list .nav-item:hover a{
        padding-bottom: 0.75rem;
        border-bottom: 1.5px solid rgba(255, 255, 255, 0.50);
        transition:100ms;
    }
    .nav-list .nav-item:hover .current-page{
        padding-bottom: 0.75rem;
        border-bottom: 1.5px solid var(--white);
    }
}